REM OpenCode Configuration
SET OPENCODE_MODEL=deepseek-v4-flash
SET OPENCODE_ENDPOINT=https://opencode.ai
SET OPENCODE_API_URI=zen/go
SET OPENCODE_BASE_URL=%OPENCODE_ENDPOINT%/%OPENCODE_API_URI%/v1
SET OPENCODE_API_KEY=sk-Insert-Key-Here
SET OPENCODE_MAX_TOKENS=1000000

REM OpenRouter Configuration
SET OPENROUTER_MODEL=%OPENCODE_MODEL%
SET OPENROUTER_ENDPOINT=%OPENCODE_ENDPOINT%
IF NOT DEFINED OPENCODE_API_URI SET OPENCODE_API_URI=zen/go
SET OPENROUTER_API_URI=%OPENCODE_API_URI%
SET OPENROUTER_BASE_URL=%OPENCODE_BASE_URL%
SET OPENROUTER_API_KEY=%OPENCODE_API_KEY%

REM Anthropic Configuration
SET ANTHROPIC_API_URI=%OPENCODE_API_URI%
SET ANTHROPIC_BASE_URL=%OPENROUTER_ENDPOINT%/%ANTHROPIC_API_URI%
SET ANTHROPIC_AUTH_TOKEN=%OPENROUTER_API_KEY%
SET ANTHROPIC_API_KEY=

REM OpenAI SDK Configuration
SET OPENAI_MODEL=%OPENROUTER_MODEL%
SET OPENAI_BASE_URL=%OPENROUTER_BASE_URL%
SET OPENAI_ENDPOINT_URL=%OPENROUTER_BASE_URL%
SET OPENAI_API_KEY=%OPENROUTER_API_KEY%
SET OPENAI_MAX_TOKENS=%OPENCODE_MAX_TOKENS%

REM OpenAgent Configuration
SET AGENT_CODE_MODEL=%OPENROUTER_MODEL%
SET AGENT_CODE_API_KEY=%OPENROUTER_API_KEY%
SET AGENT_CODE_API_BASE_URL=%OPENROUTER_BASE_URL%